body {
    background-color: #0A0C21;
    background-repeat: repeat-y;
    background-image: url(..//wallpaper/dark_background3.jpg);
  }
  /* Replaces the border color of the Bootstrap Theme */
  .border-bottom {
    border-color: #25375E !important;
  }
  .card {
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    box-shadow: 0 0 10px #9ecaed;
    font-family: 'Montserrat';
  }
  .card-body {
    background-color: #121643;
    color: white;
  }
  .card-title {
    font-weight: bold;
  }
  .carousel {
    box-shadow: 0 0 10px #9ecaed;
    border: 2px solid #41A2CA;
    border-radius: 22px;
  }
  .simplyTechheaderSection {
    box-shadow: 0 0 10px #9ecaed;
    border: 2px solid #41A2CA;
    border-radius: 22px;
    font-family: 'Orbitron';
    background-color: #162A54; 
    padding: 0.3%;
    text-align: center;
    color: white;
  }
  .blogPage {
    color: white;
    margin-top: 2%;
  }
  .footer-container {
    background-color: #0A0C21;
  }
  .contactPage .card {
    text-align: center;
  }
  .navbar .nav-item img {
    height: 40px;
  }